<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form [formGroup]="myForm" role="form" (ngSubmit)="post(myForm.value)">
                <div class="form-group">
                    <label>用户名:</label>
                    <input type="text" placeholder="请输入用户名" formControlName="username" class="form-control" />
                </div>
                <div formGroupName="password">
                    <div class="form-group">
                        <label>密码:</label>
                        <input type="password" placeholder="请输入密码" formControlName="first" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="请确认密码" formControlName="last" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label>邮箱:</label>
                    <input type="email" placeholder="请输入邮箱" formControlName="email" class="form-control" />
                </div>
                <div>
                    <input type="submit" value="注册" class="btn btn-default" />
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div>
                {{myForm.value | json}}
            </div>
            <hr>
            <div>
                {{myForm.status | json}}
            </div>
        </div>
    </div>
</div>